@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #233142;
    color: white;
}

.main {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
}